torch==1.8.1
torchvision==0.9.1
pytorch-lightning==1.3.0
tensorflow-gpu
tensorboard
keras
jupyterlab
matplotlib
nbconvert
jupytext
streamlit
lightgbm
Pillow
PyCLUE
pip-search
scipy
xlrd
xlwt
lxml
wandb
dvc
rich
flashtext

